In [ ]:
# x = temperature
# y = sales

In [ ]:
import numpy as np
X = np.array([15,18,20,22,24,28,32,34],dtype=float)
Y = np.array([200,300,400,500,600,800,1000,1200],dtype = float)

In [ ]:
# simple regression is y = m1x + c + error b0 = intercept b1 = slope
# slope = sum(x1-x)(y1-y)/sum(x1-x)2
# intercept = y-m1x

In [ ]:
x_mean = X.mean()
y_mean = Y.mean()

num = np.sum((X-x_mean)*(Y-y_mean))
den = np.sum((X-x_mean)**2)

slope_1 = num/den
intercept_1 = y_mean-slope_1*x_mean

print("Slope: ",slope_1)
print("Intercept: ",intercept_1)

Slope:  51.676528599605525
Intercept:  -621.6962524654832

In [ ]:
def predict_temperature(temp_values):
  temp_values = np.array(temp_values,dtype=float)
  return slope_1*temp_values+intercept_1

print(predict_temperature([25]))

y_pred = predict_temperature(X)
mse =  np.mean((y-y_pred)**2)
print("MSE: ",mse)

[670.21696252]
MSE:  1099.6055226824458

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
data_multi = {
    "Temp":[15,18,20,22,24,28,32,34],
    "Humidity":[60,65,70,75,80,85,90,95],
    "Weekend":[0,0,0,0,0,1,1,1],
    "Sales": [200,300,400,500,600,800,1000,1550]
    }
df_multi = pd.DataFrame(data_multi)
print(df_multi)

   Temp  Humidity  Weekend  Sales
0    15        60        0    200
1    18        65        0    300
2    20        70        0    400
3    22        75        0    500
4    24        80        0    600
5    28        85        1    800
6    32        90        1   1000
7    34        95        1   1550

In [ ]:
X = df_multi[["Temp","Humidity","Weekend"]]
Y = df_multi["Sales"]

X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)
reg = LinearRegression()
reg.fit(X_train,Y_train)

print("Intercept: " ,reg.intercept_)
print("Coefficients: ",reg.coef_)

Intercept:  -4510.0000000000255
Coefficients:  [-270.  146. 1190.]

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
y_pred = reg.predict(X_test)
mse =   mean_squared_error(Y_test,y_pred)
r2 = r2_score(Y_test,y_pred)

print("Test MSE :", mse)
print("Test r2: ",r2)

# Corrected 'Temp:' to 'Temp'
new_day = pd.DataFrame({"Temp":[29],"Humidity": [47],"Weekend":[1]})
print("Predicted Sales:",reg.predict(new_day)[0])

Test MSE : 282650.00000000215
Test r2:  -3.522400000000035
Predicted Sales: -4288.000000000033